In [12]:
import pandas as pd
df = pd.read_csv('./app./GISdata/canals.csv')
df.head()

,lat,lon,Name,Operator,ID
0,"33.59267624990906,33.59333806909666,33.5937084...","-117.06409342307296,-117.06450704376505,-117.0...",San Diego Canal,Metropolitan Water District,1
1,"33.46558385421156,33.460028990145815,33.457028...","-117.12303070830052,-117.12777050420539,-117.1...",Rainbow Creek,San Diego County Water Authority,2
2,"33.51464127647381,33.517617746461895,33.520465...","-117.11950795502804,-117.11474110841539,-117.1...",Rainbow Creek,San Diego County Water Authority,3
3,"32.89709840037091,32.90157990828618,32.9038479...","-116.93438933320112,-116.93772570557684,-116.9...",San Diego Aqueduct,San Diego County Water Authority,4
4,"33.51464127647381,33.509336417641634,33.502031...","-117.11950795502804,-117.11966128494032,-117.1...",San Diego Aqueduct,San Diego County Water Authority,4

In [13]:
df.lat.describe()

count                                                   432
unique                                                  428
top       36.78307442124759,36.78300848835113,36.7829742...
freq                                                      2
Name: lat, dtype: object

In [45]:
test = df.lat.str.split(',')

In [46]:
test2 = []
for t in test:
    test2.append([float(i) for i in t])

In [48]:
len(test2)

432

In [49]:
longs = []
tmp = df.lon.str.split(',')

In [50]:
for t in tmp:
    longs.append([float(i) for i in t])
    
len(longs)

432